@charset "utf-8";

html {
  text-rendering: optimizeLegibility !important;
  scroll-behavior: smooth;
  scroll-padding: 30px;
}
@media screen and (max-width: 768px) {
  html {
    scroll-padding: 100px;
  }
}
:root {
  font-size: 10px;
  --header-mv-theme: #f6f6f7;
  --mv-theme: #f5f5f5;
  --black-color: #000;
  --white-color: #fff;
  --pink-color: #d0004c;
  --gray-color: #a1a1a1;
  --light-gray: #fafafa;
  --light-orange: #df725e;
  --dark-orange: #be4933;
  --lavender-blush: #fff5fb;
  --light-pink: #e09ab6;
  --exlight-pink: #fff5fa;
  --news-gray: #999999;
  --exdark-orange: #9a3927;
}

body {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.75;

  letter-spacing: 1px;

  color: var(--color-black);
  background: transparent;

  text-rendering: optimizeLegibility;
}

main {
  margin: 0 auto;
}
.common-sec {
  padding: 75px 0 80px;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Display Properties */
.pc {
  display: block;
}

.sp {
  display: none;
}

.tel {
  pointer-events: none;
}
.sub-contents {
  background-color: var(--white-color);
  margin-top: -40px;
  border-radius: 40px 40px 0 0;
  position: relative;
}

table {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.bg-gray {
  background-color: #f9f9f9;
}

.h2-mb {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .common-sec {
    padding: 40px 0 50px;
  }
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .tel {
    pointer-events: auto;
  }
  .sub-contents {
    border-radius: 20px 20px 0 0;
  }
}

/* ===============================
Text align
=============================== */
.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .txt-left-sp {
    text-align: left;
  }

  .txt-center-sp {
    text-align: center;
  }

  .txt-right-sp {
    text-align: right;
  }
}

/* ===============================

=============================== */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

/* Header--MV */

/* .header-mv {
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  background: var(--mv-theme);
  position: relative;
  background: linear-gradient(to top, var(--white-color) 35px, var(--mv-theme) 35px, var(--mv-theme) 100%);
} */
.header-mv {
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: 100%;
  background: var(--mv-theme);
  position: relative;
  background: linear-gradient(to top, var(--white-color) 35px, var(--mv-theme) 35px, var(--mv-theme) 100%);
}
.header-mv-wrapper {
  height: 100vh;
}
/* header */
/* header {
  padding-right: 0;
} */

.header-logo,
.footer-logo {
  font-family: "noto-sans-cjk-jp", "Noto Sans JP", sans-serif;
}

.header-logo p {
  font-weight: normal !important;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-logo {
  max-width: 26rem;
  padding: 30px 42px 30px 20px;
  background: var(--white-color);
  border-bottom-right-radius: 40px;
}

.size-control {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  padding-right: 20px;
}

.fz-control-txt {
  margin-right: 5px;
  display: block;
}

button {
  cursor: pointer;
  color: inherit;
}
.fz-control-btn {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  background-color: var(--white-color);
  padding: 0;
  margin: 0;
}

.fz-control-btn.fz-btn-active {
  background-color: var(--black-color);
  color: var(--white-color);
}
.menu-list {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.menu-list-ul {
  display: flex;
  justify-content: space-evenly;
  background: var(--white-color);
  max-width: 800px;
  border-radius: 60px;
  padding: 30px 15px;
  margin: 0 auto;
}
.menu-list-ul li span {
  font-size: 1.4rem;
  color: var(--light-orange);
  display: block;
  text-align: center;
}
.search-open-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  background: url(../img/search-icon-white.png) no-repeat center;
  background-color: var(--pink-color);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.search-box-active .search-open-btn {
  background-image: url(../img/search-close-pink.png);
}
.search-wrapper {
  background: var(--gray-color);
  border-radius: 30px;
  padding: 40px 20px 35px;
  position: absolute;
  max-width: 800px;
  width: calc(100% - 40px);
  top: calc(100% + 105px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
}
.search-box-active .search-wrapper {
  display: block;
}
.search-box {
  font-size: 2rem;
  width: 534px;
  border: none;
  background: var(--white-color);
  padding: 18px 0 19px 15px;
  max-height: 60px;
  outline: none;
}
.search-submit {
  width: 66px;
  height: 60px;
  background: url(../img/search-icon-black.png) no-repeat center var(--white-color);
  border: none;
  padding: 0;
  margin-left: -1px;
}
.search-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}
.nav-sp .search-form {
  max-width: unset;
}
.search-close {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 18px auto 0;
  background: url(../img/search-close-icon.png) no-repeat center;
  background-size: contain;
}
.form-close-txt {
  color: var(--white-color);
  font-size: 1.4rem;
  display: block;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menu-list {
    margin-top: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .menu-list {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
  }
  .menu-list-ul {
    width: calc(100% - 100px);
    margin: 0;
    max-width: none;
  }
  button.search-open-btn {
    position: static;
    transform: translate(0);
  }
}
@media screen and (max-width: 768px) {
  .menu-list.pc {
    display: none;
  }
  .size-control.pc {
    display: none;
  }
  .size-control {
    margin-top: 25px;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  .header-mv {
    background: linear-gradient(to top, var(--white-color) 110px, var(--mv-theme) 110px, var(--mv-theme) 100%);
  }
}

/* gmenu & nav */

.header-main {
  position: relative;
}
.gmenu-sp {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 32;
}
.gmenu-sp .menu-sp {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-left: 2px solid #d0d0d0;
}
.gmenu-sp .menu-sp::before {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  content: "メニュー";
  transform: translate(0%);
  color: #000;
}
.gmenu-sp .menu-sp .line {
  position: absolute;
  top: 9px;
  right: 19px;
  display: block;
  width: 23px;
  height: 2px;
  transition: all 0.3s ease-out;
  background: #000;
}
.gmenu-sp .menu-sp .line-two {
  top: 17px;
}
.gmenu-sp .menu-sp .line-three {
  top: 25px;
}
.is-active .menu-sp .line-one {
  top: 18px;
  transform: rotate(45deg);
}
.is-active .menu-sp .line-two {
  opacity: 0;
}
.is-active .menu-sp .line-three {
  top: 18px;
  transform: rotate(-45deg);
}
.gmenu-sp.is-active .menu-sp::before {
  left: 11px;
  content: "閉じる";
}
.main-logo {
  padding: 15px;
}
/* nav */
.nav-sp {
  position: fixed;
  left: 0;
  top: 85px;
  z-index: 33;
  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background: var(--mv-theme);
  padding: 15px;
}
.nav-menu-sp ul li a > span {
  font-size: 1.4rem;
  color: var(--light-orange);
}
.nav-sp.open {
  display: block;
  /* visibility: visible;
    padding: 85px 10px 100px 10px; */
}
.nav-sp ul li {
  padding: 14px 10px;
  border-bottom: 1px solid #bbbfca;
}
.nav-sp ul li:last-child {
  padding: 0;
  border-bottom: unset;
}
.search-box {
  font-size: 1.6rem;
  flex: 1;
}
@media screen and (max-width: 768px) {
  #header {
    position: fixed;
    z-index: 30;
    width: 100%;
    background: #fff;
  }
}

/* ----------------------------------------- */

/* Main MV */
.main-mv-container {
  position: relative;
}
.main-mv {
  width: fit-content;
  margin: 0 auto;
}
.mv-1260 {
  max-width: 1260px;
  margin: 0 auto;
}
.mv-ttl {
  font-size: 2.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-100% - 250px), -70%);
}
@keyframes key1 {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% - 10px);
  }
}
.scroll-hint {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
}
.scroll-hint p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light-orange);
  text-transform: uppercase;
  margin-top: 5px;
}
.scroll-hint span {
  display: block;
  width: 4px;
  height: 60px;
  background: var(--white-color);
  border-radius: 2px 2px 0 0;
  margin: 0 auto;
  position: relative;
}
.scroll-hint span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 2px;
  left: 0;
  top: 0;
  background-color: var(--light-orange);
  /* animation: key1 0.5s ease infinite alternate; */
}
@media screen and (max-width: 1320px) {
  .mv-ttl {
    transform: translate(0, -70%);
    left: 25px;
  }
}
@media screen and (max-width: 768px) {
  .main-mv {
    padding-top: 85px;
  }
  .mv-ttl {
    font-size: 2rem;
    transform: translate(0);
    top: 70%;
  }
  .scroll-hint {
    bottom: 80px;
  }
}

/* Common Header and MV for sub-Pages */

.header-mv.sub-header-mv {
  background: url(../img/contact_mv_bg.png) no-repeat right top var(--mv-theme);
  background-color: var(--mv-theme);
  background-size: auto;
  position: relative;
  width: 100%;
  min-height: 440px;
  height: auto;
  padding-bottom: 40px;
}
.sub-header-mv.privacy-header-mv {
  background-image: url(../img/privacy_mv_bg.png);
}

.header-mv.sub-header-mv::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--white-color);
  opacity: 0.5;
}
.sub-header-mv #header {
  position: relative;
  z-index: 2;
  background: unset;
}

.sub-header-mv .menu-list-sec {
  width: min(54.1%, 800px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
  margin: 0;
}

.sub-header-mv .menu-list-sec ul {
  padding: 10px 15px;
}

.sub-header-mv .menu-list-sec ul li a {
  text-align: center;
}

.sub-header-mv .menu-list-sec ul li span {
  color: var(--light-orange);
}

.sub-header-mv .search-open-btn {
  right: -100px;
}

.sub-header-mv .header-flex .size-control {
  display: block;
  margin-top: 15px;
}
.sub-header-mv .mv-header {
  padding-top: 101px;
}
.sub-header-mv .mv-title {
  font-size: 2.6rem;
  font-weight: 500;
}
.sub-header-mv .mv-eng-title {
  display: block;
  color: var(--light-orange);
  font-size: 1.4rem;
}

.sub-header-mv .search-wrapper {
  padding: 35px 20px 25px;
  width: calc(100% - 40px);
  width: 760px;
  top: calc(100% + 50px);
}

/* No MV Header */
.sub-header-nomv.header-mv {
  height: auto !important;
  min-height: unset !important;
  background: var(--mv-theme);
}
.sub-header-nomv .mv-header {
  padding-top: 20px;
}
.sub-header-nomv #breadcrumb {
  margin-top: 0;
}

#breadcrumb {
  margin-top: 90px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}
.crumb-in {
  display: flex;
  gap: 12px;
}
.crumb-in li {
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  z-index: -1;
}
.crumb-in li:first-child {
  padding-left: 19px;
}
.crumb-in li:first-child::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: url(../img/home-icon.png) no-repeat center;
  background-size: contain;
  top: 5px;
  left: 0;
}
.crumb-in li:not(:first-child) {
  padding-left: 25px;
}
.crumb-in li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(../img/pink-right-arrow.png) no-repeat center;
  background-size: contain;
  top: 8px;
  left: 0;
}

@media screen and (max-width: 1210px) {
  .sub-header-mv .menu-list-sec {
    width: min(50.1%, 650px);
  }
  .sub-header-mv .menu-list-sec ul {
    justify-content: space-between;
  }
  .sub-header-mv .search-open-btn {
    right: -70px;
    width: 50px;
    height: 50px;
    background-size: 45%;
  }
  .sub-header-mv .search-box-active .search-open-btn {
    background-size: contain;
    outline: 1px solid var(--pink-color);
  }
}
@media screen and (max-width: 1100px) {
  .sub-header-mv .menu-list-sec {
    transform: translate(-47%, 20px);
  }
  .sub-header-mv .menu-list-sec ul {
    border-radius: 35px;
  }
  .sub-header-mv .menu-list-sec ul li a {
    font-size: 1.8rem;
  }
  .sub-header-mv .menu-list-ul li span {
    font-size: 1.3rem;
  }
  .sub-header-mv .search-open-btn {
    right: -65px;
    width: 45px;
    height: 45px;
    background-size: 50%;
  }
  .sub-header-mv .search-box-active .search-open-btn {
    background-size: contain;
  }
}
@media screen and (max-width: 1000px) {
  .sub-header-mv .mv-header {
    padding-top: 150px;
  }
  .sub-header-mv .mv-title {
    font-size: 2rem;
  }
  .sub-header-mv #header {
    background: none;
  }
  .sub-header-mv .header-flex .size-control {
    display: none;
  }
  .sub-header-mv .menu-list {
    display: none;
  }
  .sub-header-mv .header-flex {
    display: flex;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  /* No MV Header */
  .sub-header-mv.sub-header-nomv .mv-header {
    padding-top: 110px;
  }
  .sub-header-mv.sub-header-nomv {
    padding-bottom: 30px;
  }
  .sub-gmenu.sp {
    display: block;
  }
  .header-mv.sub-header-mv {
    min-height: 380px;
    background-size: contain;
    background-position: right top 95px;
  }
  .sub-contents {
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
  }
}
@media screen and (max-width: 768px) {
  .header-mv.sub-header-mv {
    background-position: right top 85px;
  }
  #breadcrumb {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .header-mv.sub-header-mv {
    min-height: 300px;
  }
  .sub-contents {
    border-radius: 20px 20px 0 0;
  }
}

.sub-header-mv.contact-header-mv {
  background-image: url(../img/contact_mv_bg.png);
}

/* header end */
/* Common Header and MV for sub-Pages ENDs */

/* Title */
.h2-ttl {
  position: relative;
  padding-bottom: 30px;
  /* margin: 0 auto; */
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.3px;
}

.h2-ttl::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 4px;
  content: "";
  transform: translateX(-50%);
  border-radius: 1px;
  background: var(--pink-color);
}

.search-ttl {
  font-weight: normal;
  border-bottom: 2px solid var(--news-gray);
  padding-bottom: 15px;
}

.search-sub-ttl {
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
  color: var(--pink-color);
  margin-top: 20px;
  margin-bottom: 13px;
}
.search-sub-ttl.underline {
  border-bottom: 2px solid var(--pink-color);
}

@media screen and (max-width: 768px) {
  .h2-ttl {
    padding-bottom: 15px;
    font-size: 2rem;
  }
}
/* Title Ends */
/* pagination */
.pagination {
  display: flex;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pagination a,
.pagination span {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--news-gray);
  transition: background-color 0.3s ease;
}

.pagination a.current,
.pagination span.current {
  background: var(--pink-color);
}

.pagination a.prev,
.pagination a.next {
  background-color: var(--news-gray);
  color: #fff;
  position: relative;
}

.pagination a.prev {
  padding-left: 30px;
}

.pagination a.prev::before {
  content: "";
  position: absolute;
  left: 10px;
  background: url(../img/previous_img.png) no-repeat;
  background-size: contain;
  width: 14px;
  height: 12px;
  top: 55%;
  transform: translateY(-50%);
}

.pagination a.next {
  padding-right: 30px;
}

.pagination a.next::before {
  content: "";
  position: absolute;
  right: 10px;
  background: url(../img/next_img.png) no-repeat;
  background-size: contain;
  width: 14px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .pagination {
    gap: 10px;
    font-size: 1.4rem;
  }
  .pagination a,
  .pagination span {
    padding: 7px 14px;
  }
}

@media screen and (max-width: 375px) {
  .pagination a,
  .pagination span {
    font-size: 1.2rem;
    padding: 6px 12px;
  }
  .pagination a.prev {
    padding-left: 12px;
  }
  .pagination a.next {
    padding-right: 12px;
  }
  .pagination a.prev::before {
    content: unset;
  }
  .pagination a.next::before {
    content: unset;
  }
}
/* pagination end */

/* front-page from news start */

.front-page {
  position: relative;
  margin-top: 50px;
  clear: both;
  text-align: center;
}

.front-page ul li {
  position: relative;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.front-page a {
  width: fit-content;
}

.col-gp {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.front-page .arr-pos {
  padding: 3px 9px 5px 9px;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
  border: 2px solid var(--pink-color);
  border-radius: 10px;
  background: #fff;
}

.front-arr {
  font-size: 1.6rem;
  color: var(--pink-color);
}

.m-color {
  font-size: 1.8rem;
  color: var(--pink-color);
}

/* front-page from news end */

/* News page posts */
.post-source {
  background-color: red;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 6px 18px 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 4px 0 5px;
}
.post-source.post-roumoi {
  font-size: 1.4rem;
  background: var(--pink-color);
}
.post-source.post-kato {
  background: var(--exdark-orange);
}
.post-source.post-noguchi {
  background: var(--dark-orange);
}
.post-source.post-nakae {
  background: var(--light-orange);
}

.news-date {
  font-family: "Noto Sans CJK JP", inherit;
  color: var(--pink-color);
}

/* End of news pages posts */
