@charset "utf-8";
.post-h h1 {
    margin: 40px 0 40px 0;
}

.sin-post h2 {
    margin: 20px 0 20px 0;
}

.sin-post h3,
.sin-post h4,
.sin-post h5 {
    margin: 20px 0 20px 0;
}

.waku {
    padding: 20px;

    border: 1px solid #4e4e4e;
}

.post-date {
    margin-bottom: 7px;

    font-size: 1.4rem;
    font-weight: 400;

    color: #000;
}

.post-h h1 {
    margin: 10px 0 24px 0;

    font-size: 2.6rem;
    font-weight: 400;

    color: #000;
}

.sin-post h2 {
    position: relative;

    padding: 10px 0 10px 25px;

    font-size: 2rem;
    line-height: 1.5;

    color: #000;
    background: #e7eefe;
}

.sin-post h2:before {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    content: "";

    border-left: 8px solid #2465fc;
}

.sin-post h3 {
    position: relative;

    padding: 10px 0 10px 25px;

    font-size: 1.8rem;
    line-height: 1.5;

    color: #2465fc;
    background: #fff;
}

.sin-post h3:before {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    content: "";

    border-left: 8px solid #2465fc;
}

.sin-post h4 {
    position: relative;

    padding-left: 25px;

    font-size: 1.6rem;
    line-height: 1.3;
}

.sin-post h4:before {
    position: absolute;
    top: 4px;
    left: 0;

    width: 15px;
    height: 15px;

    content: "";

    border-radius: 4px;
    background: #2465fc;
}

.sin-post h5 {
    font-size: 1.4rem;
}

.sin-post h6 {
    font-size: 1.2rem;
}

.sin-post p {
    margin: 0 0 20px 0;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.sin-post ul,
.sin-post ol {
    padding: 25px 30px;
    margin: 20px 0 20px 0;

    line-height: 1.3;

    border-radius: 10px;
    background: #f4f4f4;
}

.sin-post ul li {
    position: relative;

    padding-bottom: 23px;
    padding-left: 20px;

    font-size: 1.6rem;
    font-weight: 500;
}

.sin-post ul li:last-child {
    padding-bottom: 0;
}

.sin-post ul li:before {
    position: absolute;
    top: 7px;
    left: 0;

    width: 9px;
    height: 9px;

    content: "";

    border-radius: 50%;
    background: #2465fc;
}

.sin-post ol {
    list-style-position: outside;
}

.sin-post ol li {
    padding-bottom: 23px;
    padding-left: 5px;
    margin-left: 18px;

    font-size: 1.6rem;
    font-weight: 500;
}

.sin-post ol li:last-child {
    padding-bottom: 0;
}

.sin-post ol li::marker {
    color: #000;
}

.sin-post hr {
    margin: 50px 20px;
}

.sin-post a {
    display: inline-block;
    margin: 0 0 20px 0;

    font-size: 1.6rem;

    text-decoration: underline;

    color: #2465fc;

    text-underline-offset: 2px;
}

.sin-post a:hover {
    opacity: .7;
    color: #6290f9;
}

.sin-post .sec-btn a {
    display: block;

    text-decoration: none;

    color: #fff;
}

.sin-post .sec-btn a:hover {
    color: #900;
}
.sin-post strong {
    margin: 0 0 20px 0;

    font-weight: bold;

    color: #2465fc;
}

.post-btn a {
    width: 100%;
    max-width: 215px;
    padding: 12px 25px;

    font-size: 1.6rem;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 1px solid #2465fc;
    border-radius: 5px;
    background: #2465fc;
}

.post-btn a:hover {
    color: #2465fc;
    background: #fff;
}

.post-btn2 a {
    border-radius: 50px;
}

.sin-post blockquote {
    padding: 25px 35px;
    margin: 0 0 20px;
    margin-top: 40px;

    font-size: 1.4rem;

    border-radius: 10px;
    background: #e7eefe;
}

.sin-post blockquote p {
    margin: 0;
}

.sin-post blockquote p:last-child {
    margin-bottom: 0!important;
}

.sin-post,
.sin-post {
    margin: 20px 0;
}

.sin-post table,
.sin-post table {
    width: 100%;
}

.sin-post table tr {
    border-bottom: 1px solid #fff;
}

.sin-post table tr th,
.sin-post table tr td,
.sin-post table tr th,
.sin-post table tr td {
    width: 20%;
    height: 80px;

    font-size: 1.6rem;
    font-weight: 500;

    text-align: center;
    vertical-align: middle;
}

.sin-post table tr th {
    background: #99a7c1;
}

.sin-post table tr td {
    background: #e5e9ef;
}

.sin-post table tr {
    border-bottom: 1px solid #fff;
    background: #f8f8f8;
}

.sin-post table tr:first-child th,
.sin-post table tr:first-child td,
.sin-post table tr:first-child th,
.sin-post table tr:first-child td {
    border-bottom: 0;
}

.sin-post table tr:first-child,
.sin-post table tr:first-child,
.sin-post table tr:first-child,
.sin-post table tr:first-child {
    border-bottom: none;
}

.sin-post table tr td {
    background: none;
}

.sin-post table tr th {
    background: #bfbfbf;
}

.sin-post table tr:nth-child(odd) {
    background: #ececec;
}

.sin-post .sec-btn {
    margin-top: 50px;
}


/*20210714 img 追加*/

.sin-post img {
    margin: 20px 0;
}

.sin-post .w800 img {
    width: 100%;
}

.img-list {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    margin: 0 -10px;

    flex-wrap: wrap;
    justify-content: center;
}

.img-list img {
    width: 50%;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}

.google-map {
    margin: 50px 0 50px;
}
.sin-post .large {
    width: 650px;
    margin: 50px auto;
}


/*20210714 img 追加*/

@media screen and (max-width: 768px) {
    .post-h h1,
    .sin-post h2 {
        margin: 20px 0 20px 0;
    }
    .sin-post h3,
    .sin-post h4,
    .sin-post h5 {
        margin: 20px 0 20px 0;
    }
    .sin-post blockquote {
        padding: 15px;
        margin: 0 0 20px;

        font-size: 1.4rem;
    }
    .google-map {
        margin: 20px 0 20px 0;
    }
    .post-hm-name {
        font-size: 1.4rem;
    }
    .post-date {
        font-size: 1.4rem;
    }
    .post-h h1 {
        padding: 0 0 5px 0;
        margin: 0 0 20px 0;

        font-size: 2.4rem;
    }
    .sin-post h2 {
        padding: 10px 0 10px 20px;

        font-size: 2rem;
    }
    .sin-post h3 {
        font-size: 1.6rem;
    }
    .sin-post h4 {
        font-size: 2rem;
    }
    .sin-post p {
        margin: 20px 0;

        font-size: 1.4rem;
    }
    .sin-post ul li {
        margin-left: 0;

        font-size: 1.4rem;
    }
    .sin-post ul,
    .sin-post ol {
        padding: 15px 20px;
        margin: 20px 0 20px 0;
    }
    .sin-post ol li {
        padding-left: 0;

        font-size: 1.4rem;
    }
    .sin-post ul li:before {
        top: 6px;

        width: 8px;
        height: 8px;
    }
    .sin-post a {
        font-size: 1.4rem;
    }
    .sin-post table tr th,
    .sin-post table tr td,
    .tb-style3 table tr th,
    .tb-style3 table tr td {
        height: 60px;
    }
    .sin-post table tr th,
    .sin-post table tr td,
    .sin-post table tr th,
    .sin-post table tr td {
        height: 70px;

        font-size: 1.4rem;
        font-weight: 500;
    }
    .sin-post,
    .sin-post {
        margin: 20px 0;
    }
    .sin-post .sec-btn {
        margin-top: 45px;
    }
    /*20210714 img 追加*/
    .sin-post img {
        margin: 20px auto;
    }
    ul.img {
        padding: 15px 0;
        margin: 0;
    }
    ul.img li:first-child {
        padding-top: 0;
    }
    ul.img li:last-child {
        padding-bottom: 0;
    }
    ul.img li {
        width: 100%;
        padding: 10px 0;
    }
    .img-list {
        margin: 0 -10px;
    }
    .img-list img {
        margin: 0;
    }
    /*20210714 img 追加*/
    .sin-post .large {
        width: 100%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 440px) {
    .sin-post table tr th,
    .sin-post table tr td,
    .sin-post table tr th,
    .sin-post table tr td {
        height: 60px;

        font-size: 1.2rem;
        font-weight: 500;
    }
}


/* Detail page */

.mv-pd {
    padding: 50px 25px 0 25px;
}

.mv-bnr .bnr-ttl {
    padding-bottom: 0;
}

.in-bk {
    display: block;
}

.sin-post .po-date-sns {
    padding-bottom: 75px;

    border-bottom: 2px solid #2465fc;
}

.sin-post .po-date-txt {
    font-size: 1.6rem;
    font-weight: 600;

    color: #2465fc;
}

.sin-post .fl-lt {
    float: left;
}

.sin-post .po-date-txt span {
    padding-left: 7px;
}

.sin-post .fk-icon a,
.sin-post .twi-icon a {
    margin: 0;
}

.sin-post .fk-icon a img,
.sin-post .twi-icon a img {
    width: 30px;
    padding: 0;
    margin: 0 13px;
}

.sin-post .sns-txt {
    padding-right: 13px;

    font-size: 1.4rem;
    font-weight: 600;

    color: #2465fc;
}


/*Pagination*/

.front-page {
    position: relative;

    margin-top: 50px;
    clear: both;

    text-align: center;
}

.front-page .arr-pos {
    padding: 3px 9px 5px 9px;

    font-size: 1.8rem;
    font-weight: bold;

    -webkit-transition: background-color .3s;
            transition: background-color .3s;
    text-decoration: none;

    border: 2px solid #2465fc;
    border-radius: 10px;
    background: #fff;
}

.front-page ul li a:hover {
    opacity: .5;
}

.front-page ul li {
    position: relative;

    margin-bottom: 0;

    font-size: 1.6rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .sin-post .fl-lt {
        float: none;
    }
    .sin-post .po-date-sns {
        padding-bottom: 30px;
    }
    .front-page ul li {
        font-size: 1.4rem;
    }
    .front-page {
        margin-bottom: 80px;
    }
    .front-page .arr-pos {
        font-size: 1.4rem;
    }
}


/*詳細ページ*/

.detail-sec {
    padding: 75px 0 80px 0;

    background-color: #f9f9f9;
}

.post-bl {
    padding: 45px 70px 50px;

    background: #fff;
}

.post-info {
    padding: 0 25px;

    border-bottom: 1px solid #d8d3c7;
}

.sin-post {
    padding: 0 25px;
}

.post-conts {
    padding: 50px 0 0;
}

.col-gp {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    align-items: center;
    flex-wrap: wrap;
}

.front-arr {
    font-size: 1.6rem;

    color: #6190fd;
}

.m-color {
    font-size: 1.8rem;

    color: #2465fc;
}

@media screen and (max-width: 768px) {
    .detail-sec {
        padding: 50px 0 80px 0;
    }
    .post-bl {
        padding: 45px 20px 50px;
    }
    .sin-post {
        padding: 0;
    }
    .m-color {
        font-size: 1.6rem;
    }
    .post-info {
        padding: 0 15px;
    }
    .post-conts {
        padding: 15px 0 0;
    }
}
