@charset "utf-8";
/* ===============================
Top Page
=============================== */

section {
  padding: 50px 0;
}
section:last-child {
  padding-bottom: 80px !important;
}

/* header */
.header-bg {
  background: var(--mv-theme);
}
.header-logo a {
  display: flex;
  align-items: center;
}
.header-logo .logo-img {
  width: 72px;
  margin: 0 auto;
}
.header-logo p > span {
  display: block;
  line-height: 1.2;
}

.news-sec {
  background: var(--white-color);
  border-radius: 40px;
}

.news-sec .sub-container {
  padding: 0 20px;
}

.news-list li a {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.news-list li a:hover {
  opacity: 0.65;
}
.news-list li {
  margin-bottom: 39px;
}

.news-list li:last-child {
  margin-bottom: 60px;
}

.news-list li a::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  right: 0;
  width: 11px;
  height: 16px;
  margin-right: 0;
  background: url(../img/arr_img.png) no-repeat;
}

.news-sec .news-block {
  padding: 65px 0;
}

.news-date .dt-txt {
  color: var(--pink-color);
  font-size: 2rem;
  font-weight: bold;
}

.news-date .light-org {
  background-color: var(--light-orange);
}

.news-date .light-org,
.news-date .dark-pink,
.news-date .extra-dark-org,
.news-date .dark-org {
  display: inline-block;
  margin: 0 16px;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.8px;
  line-height: 1.8;
  width: 100px;
  text-align: center;
}

.news-date .dark-org {
  background-color: var(--dark-orange);
}

.news-date .extra-dark-org {
  background-color: var(--exdark-orange);
}

.news-date .dark-pink {
  background-color: var(--pink-color);
}

.news-btn {
  width: 240px;
  padding: 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--light-orange);
  font-size: 2rem;
  border-bottom-right-radius: 20px;
}

.news-btn:hover {
  background-color: var(--pink-color);
}

.news-btn a {
  color: var(--white-color);
  position: relative;
}

.news-btn a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 12px;
  margin-right: -40px;
  background: url(../img/white_arr.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .news-sec {
    margin-top: 25px;
  }
  .header-logo .logo-img {
    width: 65px;
  }
  .news-sec .news-block {
    padding: 30px 0;
  }

  .news-list li a {
    display: block;
  }

  .news-list li a::after {
    top: calc(50% - 5px);
    margin-right: 0px;
    scale: 0.7;
  }

  .news-date .dt-txt {
    font-size: 1.6rem;
  }

  .news-date .news-txt {
    font-size: 1.4rem;
  }

  .news-date .light-org,
  .news-date .dark-org {
    letter-spacing: 0.8px;
    font-size: 1.4rem;
    margin: 0 8px;
  }

  .news-list li {
    margin-bottom: 25px;
  }

  .news-list li:last-child {
    margin-bottom: 30px;
  }

  .news-btn {
    width: 200px;
    font-size: 1.6rem;
    padding: 10px 0;
    border-bottom-right-radius: 20px;
  }

  .news-date .light-org,
  .news-date .dark-pink,
  .news-date .dark-org,
  .news-date .extra-dark-org {
    margin: 0 7px;
  }

  .news-sec ul li .news-txt {
    font-size: 1.4rem;
  }
}

/* facility-information-sec start */

.facility-information-sec {
  background: var(--light-gray);
}

.facility-information-sec .sub-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
}

.facility-information-sec .info-ttl {
  text-align: center;
  padding: 40px 0;
}

.facility-information-sec .head-txt {
  position: relative;
}

.facility-information-sec .head-txt span {
  color: var(--pink-color);
  font-weight: medium;
  padding-left: 30px;
}

.facility-information-sec .head-txt::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--pink-color);
  left: 0;
  top: 8px;
}

.facility-information-sec ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
}

.facility-information-sec li {
  margin-top: 20px;
  background-color: var(--white-color);
  border-bottom-right-radius: 20px;
  position: relative;
}

.facility-information-sec li a {
  font-size: 1.6rem;
  padding: 15px 30px 15px 15px;
  color: var(--black-color);
  border-bottom-right-radius: 20px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.facility-information-sec li::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 22px;
  width: 8px;
  height: 12px;
  background: url(../img/small_arr.png) no-repeat;
}

.facility-information-sec li a:hover {
  color: var(--white-color);
  background-color: var(--pink-color);
}

.facility-information-sec li:hover::after {
  top: calc(50% - 5px);
  background: url(../img/small_white_arr.png) no-repeat;
}

@media screen and (max-width: 1040px) {
  .facility-information-sec li a {
    padding: 15px 30px 15px 15px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .facility-information-sec ul {
    display: block;
  }

  .facility-information-sec .facility-info-list01 ul li:first-child a {
    font-size: 1.4rem;
  }

  .facility-information-sec li a {
    font-size: 1.4rem;
    padding: 15px 30px 15px 15px;
  }

  .facility-information-sec li::after {
    right: 15px;
  }

  .facility-information-sec .head-txt span {
    padding-left: 25px;
  }

  .facility-information-sec .head-txt::before {
    top: 4px;
    scale: 0.8;
  }

  .facility-information-sec .info-ttl {
    padding: 20px 0;
  }
}

/* about-shinyukai-sec */

.about-shinyukai-sec .sub-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-shinyukai-sec .abt-txt-sec {
  text-align: center;
  padding: 60px 0;
}

.btn-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.btn-list li {
  background-color: var(--light-orange);
}

.about-shinyukai-sec .btn-list a {
  padding: 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--light-orange);
  border-bottom-right-radius: 20px;
}

.about-shinyukai-sec .btn-list a:hover {
  background-color: var(--pink-color);
}

.btn-list li {
  color: var(--white-color);
  position: relative;
  border-bottom-right-radius: 20px;
}

.btn-list li::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 17px;
  width: 8px;
  height: 12px;
  background: url(../img/white_arr.png) no-repeat;
  transform: translate(-50%, 20px);
}

@media screen and (max-width: 920px) {
  .about-shinyukai-sec .btn-list a {
    font-size: 1.6rem;
  }

  .btn-list li::after {
    right: 10px;
    transform: translate(-50%, 16px);
  }
}

@media screen and (max-width: 768px) {
  .about-shinyukai-sec .abt-txt-sec {
    padding: 30px 0;
  }

  .about-shinyukai-sec .btn-list a {
    font-size: 1.6rem;
    padding: 10px 0;
  }

  .btn-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .btn-list li::after {
    right: 10px;
    transform: translate(-50%, 10px);
  }
}
/* to-the-top */
.btns-container {
  display: flex;

  justify-content: flex-end;
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.to-the-top {
  position: fixed;
  bottom: -50px;

  display: inline-block;
  display: none;
  width: 24rem;
  height: 40px;

  /* transition: bottom ease 0.3s; */
  /* -webkit-transform: translateZ(0);
  transform: translateZ(0); */

  color: white;
  background-color: var(--light-orange);

  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .btns-container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .to-the-top {
    position: fixed;
    bottom: -40px;

    width: 100%;
    height: 35px;
  }

  .info {
    position: fixed;
    bottom: -75px;

    display: flex;
    width: 100%;
    height: 40px;

    -webkit-transform: translateZ(0);
    transform: bottom ease 0.3s;
    transform: translateZ(0);

    border: 2px solid var(--primary-color);
    background: #fff;

    align-items: center;
    justify-content: center;
  }

  #return-to-top {
    position: initial;
  }
}

/* to-the-top end */
/* footer */
footer {
  /* background: var(--light-gray); */
  position: relative;
}
.footer {
  padding: 80px 0;
  background: var(--white-color);
}
.footer-logo {
  width: fit-content;
  margin: 0 auto;
  font-size: 2.2rem;
  margin-bottom: 60px;
}
.footer-logo a {
  display: flex;
  align-items: center;
}
.footer-logo p {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.footer .logo-img {
  width: 72px;
  margin: 0 auto;
}
.contact-address {
  font-size: 1.6rem;
  width: fit-content;
  margin: 0 auto 60px;
}
.contact-address > div {
  text-align: center;
}
.address span:first-child {
  margin-right: 20px;
}
.contact span:first-child {
  margin-right: 20px;
}
.copy-right {
  font-size: 1.6rem;
  color: var(--black-color);
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
  .footer .logo-img {
    width: 65px;
  }
  .footer-logo,
  .contact-address {
    margin-bottom: 20px;
  }

  .footer-logo p {
    padding-left: 0;
    display: block;
  }
  .contact-address {
    font-size: 1.4rem;
  }
  .copy-right {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .footer-logo a {
    display: block;
  }
  .address {
    display: grid;
  }
  .address span:first-child,
  .contact span:first-child {
    margin-right: 0;
  }
  .contact {
    display: grid;
  }
}
/* footer end */

/* --------------------- */
/* Contacts Page */
/* --------------------- */
.contact-table-wrapper {
  margin-top: 55px;
}
.contact-table {
  font-size: 1.6rem;
  text-align: center;
  border-collapse: collapse;
}
.contact-table td,
.contact-table th {
  font-weight: 400;
  padding: 15px 5px;
  vertical-align: middle;
  border: 2px solid var(--white-color);
}
.contact-table td {
  background: var(--mv-theme);
}
.contact-table th {
  background: var(--pink-color);
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .contact-table-wrapper {
    margin-top: 25px;
  }
  .contact-table {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .contact-table th,
  .contact-table td {
    border-width: 1px;
    padding: 10px 2px;
  }
}

/* Privacy Policy Starts */
.policy-contents {
  font-size: 1.6rem;
  line-height: 1.9375;
  margin-top: 55px;
}
.h3-ttl {
  font-size: 1.4rem;
  font-weight: 700;
}
.privacy-list {
  margin-top: 35px;
}
.privacy-list li {
  margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
  .policy-contents {
    font-size: 1.4rem;
    margin-top: 25px;
  }
  .h3-ttl {
    font-size: 1.6rem;
  }
  .privacy-list {
    margin-top: 15px;
  }
  .privacy-list li {
    margin-bottom: 20px;
  }
}
/* Privacy Policy Ends */

/* Staff Blog */
section.staff-blog {
  background: var(--light-gray);
  padding-top: 85px;
  padding-bottom: 65px;
}
.staff-blog-wrapper {
  margin-top: 35px;
}
.blog-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.blog-list li {
  width: 27.27%;
  background: var(--white-color);
  border-bottom-right-radius: 20px;
}

.staff-blog-txt {
  position: relative;
  padding: 7px 20px;
  border-bottom-right-radius: 20px;
}

.staff-blog-wrapper a {
  position: relative;
  border-bottom-right-radius: 20px;
}

.staff-blog-wrapper a::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  background: url(../img/right-pink-arrow.png) no-repeat center;
  background-size: contain;
  right: 20px;
  bottom: 18px;
}

.staff-blog-wrapper a:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
  border-bottom-right-radius: 20px;
  opacity: 1;
}

.staff-blog-wrapper a:hover::after {
  background: url(../img/right-white-arrow.png) no-repeat center;
}
.staff-blog-wrapper a:hover img {
  opacity: 1; /* Specify the desired opacity on hover */
  filter: grayscale(0%); /* Remove any grayscale effect on hover */
}

@media screen and (max-width: 920px) {
  .blog-list {
    justify-content: center;
    /* gap: 40px; */
  }

  .blog-list li {
    width: auto;
    /* margin-bottom: 20px; */
  }
}

@media screen and (max-width: 768px) {
  .blog-list {
    gap: 30px;
  }
  section.staff-blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* Staff Blog ENDs */

/* about page start */

table {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.bg-gray {
  background-color: #f9f9f9;
}

.h2-mb {
  margin-bottom: 40px;
}

.dot ul li {
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}

.dot ul li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--pink-color);
}

.page-anchor .anchor-list {
  display: flex;
  margin: -20px;
  flex-wrap: wrap;
}

.page-anchor li {
  width: 50%;
  padding: 20px 20px 0 20px;
}

.page-anchor .goto {
  position: relative;
  padding: 20px;
  font-size: 2rem;
  border: 4px solid var(--pink-color) !important;
  border-radius: 10px;
  background: #f9f9f9;
}

.goto::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  right: 20px;
  border: solid var(--pink-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(0px, -50%) rotate(-45deg);
}

.greeting-pg {
  padding-top: 12px;
  margin-top: 40px;
  font-size: 1.6rem;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0.8px;
  border-top: 1px solid #ccc;
}

.greeting-name {
  margin-top: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.9px;
}

.emp-info-table table {
  width: 100%;
  border-collapse: inherit;
}

.emp-info-table tr {
  font-size: 1.8rem;
  line-height: 25px;
}

.emp-info-table td:first-child {
  width: 160px;
  background: var(--light-pink);
}

.emp-info-table th {
  background: var(--light-pink);
}

.emp-info-table th,
.emp-info-table td {
  padding: 12px 15px;
  line-height: 1.9;
  text-align: left;
  border: 1px solid #ccc;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .dot ul li::before {
    top: 12px;
    width: 5px;
    height: 5px;
  }

  .page-anchor .anchor-list {
    display: block;
  }

  .page-anchor li {
    width: 100%;
  }

  .page-anchor .goto {
    font-size: 1.6rem;
  }

  .goto::after {
    height: 12px;
    width: 12px;
  }

  .emp-info-table tr {
    font-size: 1.4rem;
    line-height: 25px;
  }

  .emp-info-table td:first-child {
    width: 120px;
  }
}

/* about page end */
/* recruit page */
.recruit-info-gp .recruit-info-li {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.recruit-info-gp .recruit-info-li li {
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 30px;
}
.recruit-info-gp .recruit-info-li li a {
  padding: 10px;
  font-size: 1.6rem;
  text-align: center;
  border: 4px solid var(--light-pink);
  background: #fff;
}
.emp-info-text {
  padding-bottom: 15px;
  margin-top: 40px;
  font-size: 2rem;
  line-height: 25px;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}
.emp-info-table {
  margin-top: 20px;
  letter-spacing: 0.9px;
}
.pro-sub-ttl {
  padding: 7px 20px 7px 20px;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 10px;
  background: var(--light-pink);
}
.text-center {
  text-align: center;
}
.table-dec {
  width: 100%;
}
.table-dec tr {
  border-bottom: none;
}
.table-dec th,
.table-dec td {
  width: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.32px;
}
.table-dec th {
  padding: 12px 0;
  border: 1px solid #ccc;
  background-color: var(--light-pink);
}
.table-dec td {
  padding: 12px 0;
  border: 1px solid #ccc;
  background-color: var(--exlight-pink);
}
@media screen and (max-width: 768px) {
  .recruit-info-gp .recruit-info-li {
    margin: 0 -5px;
  }
  .recruit-info-gp .recruit-info-li li {
    width: 50%;
    padding: 0 5px;
    margin-bottom: 20px;
  }
  .recruit-info-gp .recruit-info-li li a {
    padding: 10px 5px;
    font-size: 1.6rem;
  }
  .emp-info-text {
    font-size: 1.8rem;
  }
  .pro-sub-ttl {
    margin-top: 25px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .recruit-info-gp .recruit-info-li li a {
    padding: 13px 3px 10px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
  }
}
/* recruit page end*/
/* search pge */
.search-section {
  padding-top: 60px;
  margin-top: 0;
  border-radius: 40px;
}
.search-block {
  font-size: 1.6rem;
  padding: 65px 0;
}
@media screen and (max-width: 768px) {
  .search-block {
    padding: 30px 0;
  }
}
/* search pge end */
